extends base

block content 
  main.main
    .card-container
      //- 🔄 Array evaluations refactored to look for the fresh trip collection payload
      if trips && trips.length > 0
        each trip in trips
          .card
            .card__header
              .card__picture
                .card__picture-overlay &nbsp;
                //- 🛠️ Source folder path targets custom sharp processed trip directory
                img.card__picture-img(src=`/img/trips/${trip.imageCover}` alt=`${trip.name}`)
              h3.heading-tertirary
                span= trip.name

            .card__details
              h4.card__sub-heading= `${trip.difficulty} ${trip.duration}-day trip`
              p.card__text= trip.summary 
            
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-map-pin')
                span= trip.startLocation.description
              
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-calendar')
                span= trip.startDates && trip.startDates[0] ? trip.startDates[0].toLocaleString('en-us', {month: "long", year: "numeric"}) : 'Coming Soon'
              
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-flag')
                span= `${trip.locations.length} stops` 
              
              .card__data
                svg.card__icon
                  use(xlink:href='/img/icons.svg#icon-user')
                span= `${trip.maxGroupSize} people`

            .card__footer
              p
                span.card__footer-value= `$${trip.price}`
                | 
                span.card__footer-text per person
              p.card__ratings
                span.card__footer-value= trip.ratingsAverage
                | 
                span.card__footer-text= `rating (${trip.ratingsQuantity})`
              //- 🔄 Link targets point cleanly to the absolute view router endpoints
              a.btn.btn--green.btn--small(href=`/trip/${trip.slug}`) Details
      else 
        .no-bookings(style="grid-column: 1/-1; text-align: center; padding: 5rem 2rem;")
          h2.heading-secondary(style="margin-bottom: 1.5rem; color: var(--color-green-teal);") No active trips found! 🗺️
          p.card__text(style="font-size: 1.6rem; margin-bottom: 3rem; color: var(--color-text-muted);") We are currently updating our itinerary catalog. Please check back shortly for new adventures.
          a.btn.btn--green.btn--small(href="/") Refresh Catalog
